.landing__section {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  @media screen and (min-width: $tablet-breakpoint) {
    // height: 90vh;
  }

  // background: linear-gradient(to top, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to bottom, rgba(99,207,67,74) 0%, rgba(99,207,67,0.74) 44%, rgba(58,133,113,0.74) 86%, rgba(58,133,113,0.7) 100%),url('/images/thomas-william-304054.jpg');/* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39943e', endColorstr='#3a8571', GradientType=0 );/* IE6-9 */
  // background: linear-gradient(to bottom, rgba(140, 255, 26, .5) 0%, rgba(46,220,202, .5) 100%),url('/images/simon-hattinga-verschure-5085.jpg');
  // background-size: cover;
  // background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);


  // background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  // background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#19906b), to(#186c52));

  // background-image: linear-gradient(to top, #59CC94 0%, #186c52 100%);
  // background: linear-gradient(to top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  // background: url('/images/landing_graph1.svg');

  // background-image: linear-gradient(to top, #19906b 0%, #186c52 100%);
  background-image: linear-gradient(to left top, rgba(113,199,122,1) 0%, #186c52 100%);
  // background: linear-gradient(to right, rgba(113,199,122,1) 0%, rgba(100,179,25,1) 100%);
}

.landing__section__flex-wrapper--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  // height: 100%;
  height: 93%;
  margin: 0 auto;
  // padding: 5rem 0 0 0;
  padding-top: 6%;

  width: 100%;


  .landing__section__heading {
    color: #B5FFDD;
    font-weight: 300;
    font-size: 2rem;
    font-size: 1.7rem;
    margin: 0;
    span {
      color: white;
    }
  }
  .landing__section__subheading__container {
    width: 85%;
    display: block;

    p {
      // text-align: left;
      color: #fff;
      color: #f5f5f5;
      color: #252525;
      color: #222;
      color: #ddd;
      line-height: 1.3rem;
      line-height: 1.6rem;
      font-size: 1.3rem;
      font-size: 1.2rem;
      font-weight: 400;
      // letter-spacing: 1px;

      margin-bottom: .8rem;
      font-style: italic;
    }
  }

  .landing__section__video__wrapper {

  }

  .landing__section__video {
    width: 24rem;
    width: 85%;
    width: 70%;
    border-radius: 20px;
    border: 1px solid #444;
  }

  .landing__section__button {
    color: #19906b;
    background: white;
    width: 100%;
    -webkit-transition: background .5s ease, color .5s ease;
    transition: background .5s ease, color .5s ease;

    color: #fff;
    background: $dark-blue;
    font-size: 1rem;

    font-weight: 800;
    padding: 1.1rem 0;
    letter-spacing: 4px;


    //edit
    // background: #f5f5f5;
    // color: $dark-blue;
    color: #f5f5f5;
    font-size: 1.1rem;
    letter-spacing: 4px;
    border: 1px solid #aaa;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    display: none;
  }
}





















.landing__section__flex-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-around;
  justify-content: space-between;
  text-align: center;
  // height: 100%;
  height: 93%;
  margin: 0 auto;
  // padding: 5rem 0 3rem 0;

  width: 100%;
  // max-width: 90%;

  padding-top: 2%;
  @media screen and (max-width: $tablet-breakpoint) {
    display: none;
  }
  // display: none;

  .landing__section__heading {
    color: #B5FFDD;
    font-weight: 300;
    font-size: 2.3rem;
    margin: 0;
    span {
      color: white;
    }
    // color: $dark-blue;
    // color: darkblue;
  }

  .landing__section__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;


    // edit
    padding: 0 2%;
  }

  .landing__section__row--left {
    // text-align: center;
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }

  .landing__section__subheading__container {
    // color: #252236;


    width: 70%;
    width: 80;

    display: none;


    // @media screen and (min-width: $tablet-breakpoint) {
    //   display: block;
    // }
    display: block;

  }
  .landing__section__subheading {
   text-align: left;
   color: #fff;
   color: #f5f5f5;
   color: #222;
   color: #eee;
   line-height: 1.8rem;
   font-size: 1.3rem;
   font-size: 1.2rem;
   font-weight: 400;
   letter-spacing: 1px;

   margin-bottom: .8rem;

  //  font-style: italic;
   color: #ddd;

  }

  .landing__section__button {
    color: #19906b;
    background: white;
    // width: 11rem;
    border-radius: 140px;
    -webkit-transition: background .5s ease, color .5s ease, text-decoration .5s ease;
    transition: background .5s ease, color .5s ease;

    border-radius: 4px;
    color: #fff;
    background: $dark-blue;
    font-size: 1rem;

    font-weight: 800;
    padding: .9rem 1.3rem;
    letter-spacing: 2px;
    color: $lime;
  }

  .landing__section__button:hover, {
    background: $navy;
    // color: #f5f5f5;
    text-decoration: underline;
  }

  .landing__section__video__wrapper {
    flex: 1;
  }

  .landing__section__video {
    // flex: 1;
    width: 36rem;
    // width: 80%;
    border-radius: 20px;
    border: 1rem solid #444;
  }
}



// .landing__section__preview-image {
//   width: 40rem;
//   border-radius: 6px;
//   // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
//
//   // border: 1px solid #aaa;
// }


.landing__section--feature-item__row {
  height: 10vh;
  // width: 100vw;
  background: #fff;
  background: #333;
  background: #111;
  // background: rgb(31, 43, 84);
  align-items: center;
  padding: 0 3%;
  background: $dark-blue;
  background: darken($dark-blue, 12%);


  display: none;
  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
  }
}

.landing__section--feature-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 10vw;
  * {
    // padding: .2rem 0;
  }
}

.landing__section--feature-item__icon {
  font-size: 2.7rem !important;
  color: $green-darken-2;
}

.landing__section--feature-item__caption {
  // font-size: 1.3rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: $green-darken-2;
  color: #aaa;

  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.landing__section--feature-item__description {
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: $dark-blue;
}
